<nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light">
	<a class="navbar-brand" href="/">Playground</a>
	<ul class=" nav navbar-nav">
		<li *ngFor="let site of $sites" class="nav-item">
			<a class="nav-link" href={{site.link}}>{{site.name}}</a>
		</li>
	</ul>
</nav>
<div class="container-fluid">
	<div class="row">
		<div class="col-2">
			<div>
				<ul>
					<li><i class="fas fa-inbox"></i></li>
					<li *ngFor="let task of $tasks | async">
						<span>{{task.name}}</span>
					</li>
					<li *ngFor="let thing of $things | async">
						<span>{{thing.name}}</span>
					</li>
					<li><i>{{newThingName.value}}</i></li>
				</ul>
				<input type="text" [formControl]="newThingName">
				<button (click)="createNewThing()">Save</button>
			</div>
		</div>
	</div>
</div>
<footer class="footer">
	<div class="container-fluid my-2">
		<span class="text-muted">Playground version - user</span>
	</div>
</footer>