<mat-toolbar>
	<span>Playground</span>
	<a mat-button *ngFor="let site of $sites" href={{site.link}}>{{site.name}}</a>
</mat-toolbar>

<h1>Tasks</h1>
<mat-list>
	<mat-list-item *ngFor="let task of $tasks | async">{{task.name}}</mat-list-item>
</mat-list>

<h1>Things</h1>
<mat-list>
	<mat-list-item *ngFor="let thing of $things | async">
		<mat-icon-button (click)="deleteThing(thing.id)">
			<mat-icon>delete</mat-icon>
		</mat-icon-button>
		{{thing.name}}
	</mat-list-item>
	<mat-list-item>
		<mat-form-field>
			<mat-label>New Thing</mat-label>
			<input matInput type="text" [formControl]="newThingName">
		</mat-form-field>
		<button (click)="createNewThing()">Save</button>
	</mat-list-item>
</mat-list>

<mat-toolbar>
	<span>Playground version - user</span>
</mat-toolbar>