html {
  position: relative;
  min-height: 100%;
  font-size: 10pt;
}

body {
  margin-bottom: 45px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #f5f5f5;
}

app-root>.container-fluid {
  padding: 60px 15px 0;
}

.footer>.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}
